@media (max-width: 1600px) { 
    header { padding: 0 10%; }
    .banner { background-size: cover; background-position: center center;}
    .bannerInner_3, .dateInner_3 { width: calc(24% - 2px); }
}
@media (max-width: 1366px) {
    header { padding: 0 5%; }
    .banner {padding: 120px 0 150px;}
    .bannerAreaInner h1 { font-size: 60px; line-height: 85px; }
    .bannerAreaInner > p { font-size: 24px; line-height: 32px; }
    .bannerFromTo { width: 10%; }
    .dateInner { width: 15%; }
    .bannerInner_3, .dateInner_3 { width: 23%; }
    .sec_2_Data ul li { font-size: 15px; line-height: 20px; padding-right: 20px; }
    .sec_2_Data ul li::before { right: 10px; }
    .staticsLeft img { width: 90%; }
    .galleryInner { min-height: 325px; }
    .blogInner figure img { height: 410px; }
    .newsletterLeft h2 { font-size: 42px;line-height: 56px;}
    .newsletterLeft h3 { font-size: 32px; line-height: 40px; }
    .welcomeTabs .nav-tabs li { margin: 0 15px; }

}
@media (max-width: 1280px) {
    .commonWelcomeMain { padding: 40px 0 0; }
    .welcomeTabMain { padding: 20px 0 50px;}
    .welcomeTabs .nav-tabs li a { font-size: 14px; line-height: 19px;   }
    .credit_coming_soon { padding: 40px 30px; }
    .commonWelcomeHeading h2 { font-size: 40px; line-height: 53px; margin: 0 0 10px; }
    .commonWelcomeHeading ul li h5 { margin: 0 0 10px; }
    .credit_coming_soon img { margin: 0 0 20px; }
    .credit_coming_soon h3 { font-size: 36px; line-height: 48px;margin: 0 0 10px; }
    .cardYet { padding: 40px 30px; }
    .cardYet img { margin: 0 0 30px; }
    .cardYet h3 { font-size: 36px; line-height: 48px; margin: 0 0 10px; }
    .cardYet p { margin: 0 0 20px; }
    .welcomeTabMain .form-control, .welcomeTabMain .form-select {font-size: 15px; height: 40px;}
    .tagsInput { height: 40px; font-size: 15px; line-height: 36px; }
}

@media (max-width: 1199px) {
    .headingOther h2 { font-size: 48px; line-height: 58px; }
    .navbar-light .navbar-nav .nav-link { font-size: 15px; line-height: 20px; }
    .navbar-nav li { padding: 0 25px; }
    header { padding: 0 5%; }

    .bannerFormInner {gap: 15px 5px; top: 0; }
    .bannerFromTo { width: calc(33% - 5px); }
    .dateInner { width: calc(33% - 5px); }
    .commonPerson { width: calc(33% - 5px); margin: 0 0 15px; }
    .bannerBtn { width: 100%; margin: 0 0 15px; }
    .bannerBtn .btn { top: 0; width: auto; }

    .bannerInner_3, .dateInner_3 { width: calc(33% - 5px); }
    .bannerBtn_3 { width: calc(33% - 5px); }
    

    .bannerFormInner { display: flex; gap: 0 10px; }
    .bookRightInner { width: 90%; }
    .bookLeftData { padding-left: 105px; }
    .staticsRight { margin: 0 0 30px; }
    .staticsInner { padding: 25px 20px; }
    .galleryMain .headingOther {  margin: 0 0 30px; }
    .galleryInner { min-height: 270px; }
    .blogInner figure img { height: 330px; }
    .newsletterLeft h2 { font-size: 38px; line-height: 50px; }
    .newsletterLeft h3 { font-size: 28px; line-height: 38px; }
    .flightResultMain .container { max-width: 95%; }
    .flightRightData { overflow: auto; overflow-x: scroll; white-space: nowrap; margin: 0 0 30px;}
    .flightRightDataInner { width: 800px; }
    .flightRightData::-webkit-scrollbar { height: 3px;}
    .flightRightData::-webkit-scrollbar-track { background: #ddd;  }
    .flightRightData::-webkit-scrollbar-thumb { background: rgb(0 0 0 / 22%); border-radius: 10px; }
    .flightRightData::-webkit-scrollbar-thumb:hover { background: #000;}

    .accordionBodyInner { width: 100%; }
    .accordionList ul li:nth-child(2) { width: calc(40% - 15px); }

}

@media (max-width: 991px) {
    .headingOther h2 { font-size: 40px; line-height: 53px; }

    /* START Menu */
        .mobile-nav .accordion-item h2 { font-size: 16px; line-height: 22px; color: #000; margin-bottom: 0; display: flex; width: 100%; gap: 5px; font-weight: 400; }
        .mobile-nav .accordion-item h2 button { background: unset;  border: unset; padding: 0; display: flex;  align-items: center; width: 100%; color: #000;
        font-size: 20px; line-height: 28px; box-shadow: none; }
        .mobile-nav .accordion-item h2 button.accordion-button::after { display: none; }
        .mobile-nav .accordion-item h2 button span { vertical-align: middle; margin-left: 5px; }
        .mobile-nav .accordion-item h2 button:focus { outline: unset; outline:unset; }
        .mobile-nav .accordion-item .accordion-body { padding: 0; }
        .mobile-nav .accordion-item { border: 0; border-bottom: 1px solid #eee; padding: 10px 0; }
        .mobile-nav .b-nav ul { padding-left: 15px; margin-top: 10px; }
        .mobile-nav { display: block; }
        .mobile-nav .sidebar_menuItems ul { padding-left: 15px; margin-top: 10px; animation: none; transition: none; position: unset; }
        .mobile-nav .sidebar_menuItems ul li { width: 100%; display: block; animation: none; transition: none; transform: none; }
        .mobile-nav .sidebar_menuItems ul li a { font-size: 20px; line-height: 28px; color: #000; -webkit-font-smoothing: antialiased; padding: 3px 0; display: block; }
        .mobile-nav .accordion-item .active h2 { color: #ec5b24; }
        header {  min-height: unset; }
        header.fixed_header {background: #243a29; width: 100%;position: fixed;left: 0;right: 0;z-index: 9999;box-shadow: 0 2px 5px rgb(0 0 0 / 19%);transition: .3s all;top: 0;}
        .collapse.header_menu:not(.show) {display: block;}
        .navbar-light .navbar-toggler:hover, .navbar-light .navbar-toggler:focus { outline: none; }
        .navbar-nav li { border-bottom: 1px solid rgb(0 0 0 / 8%); padding: 0; width: 100%; display: none; }
        .navbar-light .navbar-nav .nav-link { border-radius: 0; color: #111; font-size: 15px; padding: 10px 15px; text-align: right;  }
        .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link { color: #000;}
        .navbar-nav li.nav-itemBtn { padding: 0; margin: 0; padding-right: 45px; display: block; border: 0; width: unset; }
        .fixed_header .navbar-nav li.nav-itemBtn { padding-right: 45px; }
        .navbar-nav li .btn.nav-link {color: #000;padding: 0;  border: none; display: flex;align-items: center;height: 26px;font-size: 16px;line-height: 22px;}
        .fixed_header .navbar-nav li .btn.nav-link {color: #fff;}
        .user_profile { margin-right: 50px; }
        header .dropdown-item { text-align: left; padding: 10px 15px; }
        header .dropdown-menu:before { display: none; }
        .navbar-collapse { margin: 0; flex-basis: unset; flex-grow: unset; }
        header .dropdown-toggle::after { right: 0; }
        header .dropdown-menu { padding: 0; }
        .navbar-brand>img { width: 170px; }

    /* END Menu */

    /* START banner */
    .banner { padding: 100px 0 100px; }
    .bannerAreaInner h1 { font-size: 48px; line-height: 64px; }
    .bannerAreaInner > p { font-size: 22px; line-height: 30px; margin: 0; }
    /* END banner */

    /* START bannerForm */
    .bannerForm { padding: 60px 0; }
    .bannerFormOuter { left: 0; top: 0; padding: 30px; }
    .bannerFromTo { width: calc(50% - 5px); }
    .dateInner { width: calc(50% - 5px); }
    .commonPerson { width: calc(50% - 5px);margin: 0 0 15px; }
    .bannerInner_3, .dateInner_3 { width: calc(50% - 5px); }
    .bannerBtn_3 { width: calc(50% - 5px);}
    .bannerBtn { margin: 0; width: 100%;}
    /* END bannerForm */

    /* START Home Page */
    .aboutMain { padding: 0 0 70px; }
    .aboutRight { margin: 100px 0 30px;}
    .bookNextRight { margin: 100px 0 30px; text-align: center;}
    .bookRightInner { width: auto; }
    .sec_2_Main { padding: 30px 0 40px;}
    .sec_3_Inner figure img { width: 100%; height: 250px; object-fit: cover; }
    .statics_1 { background-size: cover; width: 100%; }
    .staticsLeft img {width: auto;margin: auto;display: block;}
    .staticsRight { margin: 30px 0 30px; }
    .galleryInner { min-height: auto; }
    .galleryInner figure img { width: 100%; height: 200px; object-fit: cover; }
    .blogMain { padding: 50px 0 20px; background-size: cover;}
    .blogInner figure img { height: 380px; }
    .blogData p { font-size: 14px; }
    .blogData p {font-size: 16px;line-height: 21px;}
    /* END Home Page */

    /* START Footer */
    .newsletterArea { padding: 70px 0 40px; }
    .footerInner { min-height: 130px; }
    .logoFooter img { width: 170px; }
    .footerTop { padding: 50px 0 0; }
    .socialIcon { margin: 0; }
    /* END Footer */

    /* START WelcomeTab */
    .welcomeTabs .nav-tabs li { margin: 0; }
    .welcomeTabs .nav-tabs li a { padding: 12px 25px; }
    /* END WelcomeTab */


    .priceRadioData ul li.priceListing { font-size: 15px; line-height: 20px;}
    .accordionBodyContent { overflow: auto; overflow-y: scroll; white-space: nowrap; height: auto; max-height: 650px; }
    .accContentInner { display: block; width: 600px; }
    .accordionBodyContent::-webkit-scrollbar { height: 3px;}
    .accordionBodyContent::-webkit-scrollbar-track { background: transparent;}
    .accordionBodyContent::-webkit-scrollbar-thumb { background: rgb(0 0 0 / 22%); border-radius: 0;}
    .accordionBodyContent::-webkit-scrollbar-thumb:hover { background: #e2e2e2;}
    
}

@media (max-width: 767px) {

    .navbar-brand>img { width: 165px; }
    .bannerFromTo { width:100%; }
    .dateInner { width:100%; }
    .commonPerson { width:100%; margin: 0 0 15px;}
    .bannerInner_3, .dateInner_3 { width:100%; }

    /* START Home Page */ 
    .aboutMain { padding: 0 0 40px;}
    .aboutLeft {  margin: 0; }
    .sec_2_Main { padding: 30px 0 20px; }
    .sec_3_Main { padding: 30px 0 20px; }
    .galleryMain { padding: 60px 0 30px; }
    .staticsRight { margin-bottom: 0; }
    .headingOther { margin: 0 0 20px; }
    .headingOther h4 { font-size: 18px; margin: 0 0 10px;}
    .headingOther h2 { font-size: 32px; line-height: 44px; }
    .headingOther p { font-size: 15px; line-height: 20px; }
    .aboutLeft .headingOther { margin: 0; }
    .aboutRightInner { width: auto; }
    .blogInner figure img { height: auto; }
    .bookNextRight { margin: 60px 0 30px; }
    .bookNextMain { padding: 30px 0 20px; }
    .staticsMain { padding: 50px 0 70px; }
    /* END Home Page */

    /* START Footer */
    .newsletterLeft h2 { font-size: 32px; line-height: 44px; }
    .newsletterLeft h3 { font-size: 24px; line-height: 32px; }
    .newsletterInner .input-group-text { padding: 0 5px 0 0; }
    .newsletterInner .form-control { height: 48px; padding: 0 15px; }
    .newsletterInner .btn { font-size: 15px; height: 38px; padding: 5px 20px; }
    .logoFooter img { width: 165px; }
    .footerTop h3 { font-size: 20px;}
    .footerInner > p { font-size: 14px; line-height: 19px; padding-right: 0; }
    .footerInner ul li a { font-size: 14px; line-height: 19px; }
    .addressFooter ul li p { font-size: 14px; line-height: 19px; }
    .copyInner { padding: 15px 0; }
    .copyInner p { font-size: 14px; }
    .footerInner ul li:last-child { margin-bottom: 0;}
    .socialIcon>ul { margin: 0 0 10px; }
    /* END Footer */

    .logInArea { padding: 100px 50px; }


    /* START WelcomeTab */
    .commonWelcomeHeading h2 { font-size: 32px; line-height: 42px; }
    .welcomeTabs .nav-tabs { margin: 0 0 20px; text-align: center;}
    .welcomeTabs .nav-tabs li { margin: 0 1px 6px;width: 48%;}
    .welcomeTabs .nav-tabs li a {background: #f7f7f7; border: 1px solid #ddd; padding: 8px 20px;}
    .welcomeTabs .nav-tabs .nav-item.show .nav-link, .welcomeTabs .nav-tabs .nav-link.active { background: #fff7f4; border: 1px solid #ec5b24;}
    .credit_coming_soon h3 { font-size: 30px; line-height: 40px; }
    .cardYet h3 { font-size: 30px; line-height: 40px; }
    .payRadio .radioCustom { overflow: hidden; overflow-x: scroll; white-space: nowrap; width: 100%;}
    .payRadioInner { width: 400px; }
    .payRadio .radioCustom::-webkit-scrollbar { height: 3px; }
    .payRadio .radioCustom::-webkit-scrollbar-track { background: transparent;  }
    .payRadio .radioCustom::-webkit-scrollbar-thumb { background: rgb(0 0 0 / 22%); border-radius: 10px; }
    .payRadio .radioCustom::-webkit-scrollbar-thumb:hover { background: #e2e2e2;}
    /* END WelcomeTab */

    .priceRadio .radioCustom { width: 100%; }
    .priceRadio .radioCustom:first-child .checkmark { border-right: 1px solid #e2e2e2; }
    .flightSummaryData { overflow: auto; overflow-x: scroll; white-space: nowrap; }
    .flightSummaryInner { width: 650px; display: block; }
    .flightSummaryInner::-webkit-scrollbar { width: 3px; }
    .flightSummaryInner::-webkit-scrollbar-track { background: transparent;}
    .flightSummaryInner::-webkit-scrollbar-thumb { background: rgb(0 0 0 / 22%); border-radius: 0;}
    .flightSummaryInner::-webkit-scrollbar-thumb:hover { background: #e2e2e2;}
    .timingLeft { display: block; width: 25%; }
    .timing { display: block; }
    .changesPlan { padding-left: calc(25% + 10px); }
    .modalCustom .modal-dialog { margin: 80px auto 10px; min-width: 90%; max-width: 532px; position: relative; left: auto; top: auto; transform: unset !important; }
    .modalCustom .modal-body { padding: 60px 15px 40px; }
    .modalTime img { margin: 0 0 30px; width: 200px; }
    .modalTimeBtn .btn { font-size: 14px; line-height: 19px; padding: 8px 20px; margin: 0 5px 20px; }
    .noResultsMain { padding: 70px 0; }
    .noResultsInner h2 { font-size: 36px; line-height: 48px; }
    .errorsMain { padding: 70px 0; }
    .errorsInner h2 { font-size: 36px; line-height: 48px; }
    .contactArea { padding: 30px 15px 30px; }
    .contactMain h2 {font-size: 25px;  line-height: 34px;}
    .contactAddress ul li { width: 100%; margin: 0 0 20px; }
    .contactAddress { padding: 30px 15px 15px; }
    .contactAddress ul li figure {width: 60px; height: 60px;}
    .contactAddressRight { padding-left: 75px; }
    .contactAddress ul li p { font-size: 14px; line-height: 19px; }
    .contactAddress ul li h4 { font-size: 18px; line-height: 25px; }
}

    
@media (max-width: 575px) {
    .headingOther h2 { font-size: 25px; line-height: 34px; margin-bottom: 10px; }
    
    .banner { background-position: center top; padding: 80px 0 80px; }
    .bannerAreaInner h1 { font-size: 34px;line-height: 46px; }
    .bannerAreaInner > p { font-size: 18px; line-height: 24px; }
    .sec_2_Inner { margin: 0 0 20px; }
    .staticsInner { width: 100%; border-right: none; }
    .staticsInner:nth-child(n+3) { border-bottom: 1px solid rgb(0 0 0 / 8%); }

    .blogInner { margin: 0 0 65px; }
    .blogData { padding: 20px 20px 20px; }
    .blogData p { height: unset; }
    .galleryInner figure img { height: auto; }
    .newsletterArea { padding: 30px 0; }
    .newsletterLeft h2 { font-size: 25px; line-height: 34px;  }
    .newsletterLeft h3 { font-size: 20px; line-height: 28px; }
    .logoFooter { margin: 0 0 10px; }
   
    .logInArea { padding: 100px 30px; }
    .secondPartForm .form-group { width: 100%; }

}
@media (max-width: 480px) {

    header { padding: 0 2%; }
    .fixed_header .navbar-nav li.nav-itemBtn { padding-right: 35px; }
    .navbar-nav li.nav-itemBtn { padding-right: 35px; }
    header .navbar { min-height: unset; }
    .navbar-brand>img { width: 115px; }
    .navbar-nav li .btn.nav-link { font-size: 14px; line-height: 19px;}

    .b-menu { width: 22px; right: 16px; top: 12px; }
    .user_profile { margin-right: 45px; }
    .b-bun--bottom, .b-bun--mid, .b-bun--top { width: 22px; }
    .b-bun--mid { top: 6px; }
    .b-bun--bottom { top: 12px; }
    .b-nav.open { padding-top: 50px; }
    .apply_filters a { font-size: 14px; }

    .bannerFormOuter { padding: 25px 15px; }
    .bannerRadio .radioCustom { margin: 0 2px 10px 0; font-size: 14px; line-height: 19px; }

    .aboutRight img.about_1 { top: -58px; }
    .sec_2_Data { padding-left: 120px; padding-top: 22px; }
    .sec_2_Data ul li { font-size: 14px;line-height: 19px; padding-right: 10px; }
    .sec_2_Data ul li::before { right: 2px; }
    .sec_3_Inner { margin: 0 0 20px; }
    .bookLeftInner { margin: 0 0 20px; }
    .bookLeftInner figure { margin: 0 auto 15px; float: none; }
    .bookLeftData { padding-left: 0; text-align: center; }
    .staticsData h4 { font-size: 28px; line-height: 34px; margin: 0 0 5px; }
    .newsletterArea { padding: 30px 0; }
    .newsletterLeft h2 { font-size: 25px; line-height: 34px; }
    .logoFooter img { width: 115px; }

    .logInArea { padding: 100px 15px; }
    .users { padding: 15px; }

    .accountOuter { padding: 20px 15px; }
    .preferencesInner { padding: 20px 15px; }
    .addCard { padding: 20px 15px; }
    .payMethod { padding: 20px 15px; }
    .cardYet { padding: 30px; }
    .cardYet .btn { padding: 10px 25px; width: auto; }
    .flightsummaryHead h4 b { display: block; }
    .flightsummaryHead h4 span { display: inline-block; float: none; margin: 10px 0;}

    .modalCustom .modal-dialog { margin: 60px auto 10px; }
    .modalTime img { margin: 0 0 30px; width: 170px; }
    .bannerBtn.bannerBtn_3 { display: block; }
    .bannerBtn.bannerBtn_3 .btn { width: 100%; margin: 0 0 15px;}
    ..users .form-group.formBtn .btn { margin: 0 0 10px; }
}


@media (max-width: 360px) {
    .bookNextRight { padding-right: 0; }
    .b-bun--bottom, .b-bun--mid, .b-bun--top { width: 20px; }
    .b-menu { width: 20px; }
    .logIn h2 { font-size: 28px; line-height: 37px; }
    .users .form-group.formBtn { display: block; }
    .users .form-control { height: 40px; }
    .users .btn { padding: 0 25px; font-size: 14px; height: 40px; line-height: 40px; width: auto; }
    .welcomeTabs .nav-tabs li { margin: 0 0 5px; width: 100%; }
}
